    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /*------parte de la primera fila del panel administrador---------*/
    
    .panel {
        /*border: 2px yellow solid;*/
        width: 100%;
        background-color: #4a7c59;
    }
    
    .panelizquierda,
    .panelderecha {
        display: inline-block;
        vertical-align: top;
    }
    
    .panelizquierda {
        /*border: 2px red solid;*/
        color: white;
        margin-top: 2.5%;
        margin-left: 5%
    }
    
    .ppanel2 {
        /*border: 2px green solid;*/
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
    }
    
    .panelderecha {
        /*border: 2px green solid;*/
        width: 25%;
        margin-left: 40%;
    }
    
    .widget {
        width: 100%;
        color: white;
    }
    
    .widget p {
        display: inline-block;
        line-height: 1em;
    }
    
    .fecha {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 1.5em;
        width: 100%;
    }
    
    .reloj {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 4em;
        width: 100%;
    }
    
    .reloj .caja-segundos {
        display: inline-block;
    }
    
    .reloj .segundos,
    .reloj .ampm {
        font-size: 2rem;
        display: block;
    }
    /*------------------contenedor del panel----------------*/
    
    .contenedor {
        /*border: 2px red solid;*/
        width: 100%;
    }
    
    .menu {
        /*border: 2px yellow solid;*/
        width: 100%;
        height: 55px;
        display: none;
    }
    
    nav {
        /*border: 2px red solid;*/
        margin-top: 1%;
        width: 100%;
        height: 55px;
    }
    
    nav ul {
        /*border: 2px black solid;*/
        height: 50px;
        list-style: none;
    }
    
    nav ul li {
        /*border: 2px green solid;*/
        height: 50px;
        /*display: inline-block;*/
        /*padding-left: 25px;*/
        margin-left: 5%;
    }
    
    nav ul li a {
        /*border: 2px yellow solid;*/
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 28px;
        /*width: 100%;*/
        padding: 0px 50px 0px 0px;
    }
    
    nav ul li span {
        margin-right: 7px;
    }
    
    nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        /*border-radius: 10%;*/
        padding: 12px 7px 12px 7px;
    }
    /*------------------contpanel----------------*/
    
    .contpanel {
        /*border: 2px red solid;*/
        height: 480px;
    }
    
    .contpanelizqui,
    .contpaneldere {
        display: inline-block;
        vertical-align: top;
    }
    
    .contpanelizqui {
        /*border: 2px black solid;*/
        /*border-right: 1px solid #CCC;*/
        width: 17%;
        background-color: #444359;
        height: 480px;
    }
    
    .contpaneldere {
        /*border: 2px black solid;*/
        width: 80%;
    }
    /*--------------menu del panel ---------------*/
    
    ul {
        list-style-type: none;
    }
    
    a {
        /*color: #b63b4d;*/
        color: white;
        text-decoration: none;
    }
    /** =======================
 * Contenedor Principal
 ===========================*/
    
    .accordion {
        /*border: 2px red solid;*/
        /*margin-top: 3%;*/
        width: 100%;
        /*max-width: 360px;*/
        margin: 15px auto 20px;
        background: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #444359;
    }
    
    .link {
        /*border: 2px red solid;*/
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        /*color: #4D4D4D;*/
        color: white;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .accordion li:last-child .link {
        border-bottom: 0;
    }
    
    .accordion li i {
        /*background-color: red;*/
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        /*color: #595959;*/
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .link:hover {
        background: #b63b4d;
        color: white;
    }
    /*-------------------leyenda agregar-----------------------------*/
    
    .formuno {
        /*border: 2px green solid;*/
        width: 60%;
        margin: 0 auto;
        margin-top: 1%;
    }
    
    .agrega {
        /*border: 2px red solid;*/
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        margin-bottom: 5%;
    }
    
    .dos {
        /*float: right;*/
        width: 18%;
        /*clear: both;*/
        /*border: 2px solid red;*/
    }
    
    .ema {
        font-size: 18px;
        font-family: arial;
        font-weight: bold;
    }
    
    .emai:focus {
        border: 2px solid #2DE1CE;
        outline: 0px;
        -webkit-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 26px -4px rgba(0, 0, 0, 0.75);
    }
    
    .emai {
        height: 35px;
        border-radius: 5px;
        margin-top: 1%;
        border: 1px solid #ccc;
        width: 100%;
        -webkit-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
        -moz-box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
        box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    input::-webkit-input-placeholder {
        color: #747474;
        padding-left: 5px;
    }
    
    input::-moz-placeholder {
        color: #747474;
        padding-left: 5px;
    }
    
    input::-ms-input-placeholder {
        color: #747474;
        padding-left: 5px;
    }
    
    .der,
    .izq {
        display: inline-block;
        vertical-align: top;
    }
    
    .der {
        /*border: 2px black solid;*/
        width: 50%;
        /*float: right;*/
        /*margin-left: 2%;*/
        padding: 3% 0px 3% 3%;
    }
    
    .izq {
        /*border: 2px black solid;*/
        width: 43%;
        padding: 3% 3% 3% 0px;
        /*float: left;*/
    }
    
    #cote {
        /*border: 2px solid red;*/
        overflow: hidden;
    }
    
    #agregar_tarea {
        width: 94.5%;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    #agregar_tarea:focus {
        height: 150px;
    }
    
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 15px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 2%;
        margin-left: 29%;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 25px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
    /*-------------------lista de tareas-----------*/
    
    .formdos {
        /*border: 2px red solid;*/
    }
    
    .agregal {
        /*border: 2px black solid;*/
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        margin-bottom: 5%;
        margin-top: 3%;
    }
    /*-----------tabla--------------------*/
    
    table {
        /*border: 2px red solid;*/
        width: 100%;
        border-collapse: collapse;
    }
    
    tr:nth-of-type(odd) {
        background: #eee;
    }
    
    th {
        background: #333;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    
    td,
    th {
        padding: 6px;
        border: 1px solid #ccc;
    }
    
    td {
        text-align: left;
    }
    
    td:nth-child(2n) {
        text-align: center;
    }
    
    td:nth-child(3n) {
        text-align: center;
    }
    
    td:nth-child(4n) {
        text-align: center;
    }
    
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
        }
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /* --------etiqueto los datos-------- */
        td:nth-of-type(1):before {
            content: "Asunto";
        }
        td:nth-of-type(2):before {
            content: "Hora a realizar";
        }
        td:nth-of-type(3):before {
            content: "Fecha de alta";
        }
        td:nth-of-type(4):before {
            content: "Fecha a realizar";
        }
        td:nth-of-type(5):before {
            content: "Tarea";
        }
        td:nth-of-type(6):before {
            content: "Asunto";
        }
        /*td:nth-of-type(6):before {
            content: "Porn Name";
        }
        td:nth-of-type(7):before {
            content: "Date of Birth";
        }
        td:nth-of-type(8):before {
            content: "Dream Vacation City";
        }
        td:nth-of-type(9):before {
            content: "GPA";
        }
        td:nth-of-type(10):before {
            content: "Arbitrary Data";
        }*/
    }
    
    .bienid {
        /*border: 2px red solid;*/
        color: white;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        margin-top: 50px;
        text-align: center;
    }
    
    strong {
        color: #f4511e;
    }
    
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        /*border: 2px red solid;*/
    }
    
    .alert-dismissable .close,
    .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }
    
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }
    
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
